<section id="banner">
  <div class="content">
    <header>

        <% if(loggedIn) {%>
          <h1>Hi <%= userResult.uName %>, Welcome to PayMyProject<br />
          </h1>
          <% } else { %>
            <h1>Hi Guest, Welcome to PayMyProject<br />
            </h1>
          <% } %>
      <p>A fully responsive site to support your favorite content/project creators</p>
    </header>
    <p>Please create a user account to follow and/or donate to your favorite projects. Or just browse current projects
      as a guest! </p>

  </div>

</section>
<section>
  <header class="major">
    <h2>Current Open Projects</h2> <!-- Change to Following if following-->
  </header>
  <div class="posts">

    <% msg.forEach(function(item) { %>
    <article>
      <a class="image test"><img src=<%= item.img %> alt="" /></a>
      <h3><%= item.name %></h3>
      <p><%= item.desc %></p>
      <ul class="actions">
        <li><a href="/project/<%= item.id %>" class="button">More</a></li>
        <form action="/following" method="post">
          <input type="submit" name="upvote" name2="name2" value="Follow" data-id="<%= item.id %>" />
        </form>

      </ul>
    </article>
    <% }); %>
  </div>
</section>