
    <section></section>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Project: <%=msg.name%></h1>
                <p class="lead"> Description: <%=msg.desc%> </p>
                <li>Creator:  <%= msg.User.uName %></li>
                <li>Creator Email: <%= msg.User.email %></li>
                <li>Creation Date: <%= msg.createdAt %></li>
            </div>
        </div>
        <br>
        <br>
    <section>
            <a class="image"><img src="<%=msg.img%>" alt="" /></a>


        </section>

    </div>


